In [21]:
import json
import pandas as pd
import requests

In [22]:
with open('../secrets.json', 'r') as file:
    secrets = json.load(file)

In [24]:
def get_last_price():
    params = {'token':secrets['IEX_KEY']}
    r = requests.get(f"{secrets['IEX_BASE_URL']}stable/tops/last", params=params)
    if r.status_code == 200:
        data = pd.DataFrame(r.json()).set_index('symbol')
        data.to_csv('../examples/IEX_last_price.csv')
    return data

In [26]:
data = get_last_price()

In [27]:
data

          price  size           time
symbol
GBF     107.715    41  1657813384080
WBK      14.220   200  1643403588574
GBGR     16.055    34  1657221475498
PBA      34.695   100  1657828793709
SPAK     13.320    20  1657632832725
...         ...   ...            ...
TEQI     32.590   139  1657654773255
BAC-K    25.120   131  1657823720514
TUGC      9.860    85  1651262398313
VNO      28.685   114  1657828795182
LSLT     32.000   100  1645038245983

[15804 rows x 3 columns]